.slt-players {
	margin: 0 auto;
	width: 100%;
}

.slt-player-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	color: #000;
}

.container-player {
	display: flex;
	justify-content: space-around;
	height: 100%;
}

#continue {
	width: 150px;
	height: 50px;
	padding: 5px;
	z-index: 99;
	position: absolute;
	top: 500px;
}


select {
	padding: 10px;
}

.slt-player-block, .players {
	background-position: center;
	background-size: 480px;
}